# IMPORTING NECESSARY LIBRARIES

In [309]:
import pandas as pd 
import numpy as np
from sklearn import linear_model
import seaborn as sns

# ANALYSING DATA

In [310]:
car=pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/CarPrice.csv")
car.head(100)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1,nissan juke,gas,std,two,hatchback,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799.0
96,97,1,nissan latio,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7499.0
97,98,1,nissan note,gas,std,four,wagon,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7999.0
98,99,2,nissan clipper,gas,std,two,hardtop,fwd,front,95.1,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249.0
99,100,0,nissan rogue,gas,std,four,hatchback,fwd,front,97.2,...,120,2bbl,3.33,3.47,8.5,97,5200,27,34,8949.0

In [311]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [312]:
car.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [313]:
carr=car.drop(['CarName','symboling','fueltype','aspiration','doornumber','fuelsystem','drivewheel','enginelocation'],axis=1)
target=car.price
print(carr)
print()
print("Price column:")
print()
print(target)

     car_ID      carbody  wheelbase  carlength  carwidth  carheight  \
0         1  convertible       88.6      168.8      64.1       48.8
1         2  convertible       88.6      168.8      64.1       48.8
2         3    hatchback       94.5      171.2      65.5       52.4
3         4        sedan       99.8      176.6      66.2       54.3
4         5        sedan       99.4      176.6      66.4       54.3
..      ...          ...        ...        ...       ...        ...
200     201        sedan      109.1      188.8      68.9       55.5
201     202        sedan      109.1      188.8      68.8       55.5
202     203        sedan      109.1      188.8      68.9       55.5
203     204        sedan      109.1      188.8      68.9       55.5
204     205        sedan      109.1      188.8      68.9       55.5

     curbweight enginetype cylindernumber  enginesize  boreratio  stroke  \
0          2548       dohc           four         130       3.47    2.68
1          2548       dohc           four         130       3.47    2.68
2          2823       ohcv            six         152       2.68    3.47
3          2337        ohc           four         109       3.19    3.40
4          2824        ohc           five         136       3.19    3.40
..          ...        ...            ...         ...        ...     ...
200        2952        ohc           four         141       3.78    3.15
201        3049        ohc           four         141       3.78    3.15
202        3012       ohcv            six         173       3.58    2.87
203        3217        ohc            six         145       3.01    3.40
204        3062        ohc           four         141       3.78    3.15

     compressionratio  horsepower  peakrpm  citympg  highwaympg    price
0                 9.0         111     5000       21          27  13495.0
1                 9.0         111     5000       21          27  16500.0
2                 9.0         154     5000       19          26  16500.0
3                10.0         102     5500       24          30  13950.0
4                 8.0         115     5500       18          22  17450.0
..                ...         ...      ...      ...         ...      ...
200               9.5         114     5400       23          28  16845.0
201               8.7         160     5300       19          25  19045.0
202               8.8         134     5500       18          23  21485.0
203              23.0         106     4800       26          27  22470.0
204               9.5         114     5400       19          25  22625.0

[205 rows x 18 columns]

Price column:

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [314]:
from sklearn.preprocessing import LabelEncoder
Numerics=LabelEncoder()

carr['carbody_n'] = Numerics.fit_transform(carr['carbody'])
carr['enginetype']= Numerics.fit_transform(carr['enginetype'])
carr['cylindernumber']= Numerics.fit_transform(carr['cylindernumber'])

carr

,car_ID,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,carbody_n
0,1,convertible,88.6,168.8,64.1,48.8,2548,0,2,130,3.47,2.68,9.0,111,5000,21,27,13495.0,0
1,2,convertible,88.6,168.8,64.1,48.8,2548,0,2,130,3.47,2.68,9.0,111,5000,21,27,16500.0,0
2,3,hatchback,94.5,171.2,65.5,52.4,2823,5,3,152,2.68,3.47,9.0,154,5000,19,26,16500.0,2
3,4,sedan,99.8,176.6,66.2,54.3,2337,3,2,109,3.19,3.40,10.0,102,5500,24,30,13950.0,3
4,5,sedan,99.4,176.6,66.4,54.3,2824,3,1,136,3.19,3.40,8.0,115,5500,18,22,17450.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,sedan,109.1,188.8,68.9,55.5,2952,3,2,141,3.78,3.15,9.5,114,5400,23,28,16845.0,3
201,202,sedan,109.1,188.8,68.8,55.5,3049,3,2,141,3.78,3.15,8.7,160,5300,19,25,19045.0,3
202,203,sedan,109.1,188.8,68.9,55.5,3012,5,3,173,3.58,2.87,8.8,134,5500,18,23,21485.0,3
203,204,sedan,109.1,188.8,68.9,55.5,3217,3,3,145,3.01,3.40,23.0,106,4800,26,27,22470.0,3
204,205,sedan,109.1,188.8,68.9,55.5,3062,3,2,141,3.78,3.15,9.5,114,5400,19,25,22625.0,3

In [315]:
carr.columns

Index(['car_ID', 'carbody', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio',
       'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg',
       'highwaympg', 'price', 'carbody_n'],
      dtype='object')

# DATA SPLIT

In [316]:
X=carr[['enginetype', 'horsepower','enginesize', 'highwaympg','horsepower','highwaympg','peakrpm','citympg','carheight','carwidth'
    ,'curbweight','car_ID','wheelbase','carbody_n','compressionratio','carlength','boreratio','stroke','cylindernumber']]
y=carr[['price']]

In [300]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=7002)

# MODEL_CREATION AND TRAINING

In [301]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [302]:
model.score(X_test,y_test)

0.9067309215824537

In [317]:
print("Accuracy is:",model.score(X_test,y_test)*100)

Accuracy is: 90.67309215824537

# CONCLUSION

Thus the model has has an prediction with accuracy with 90%